body {
    background-color: #FFD07B;
    margin: 0 auto;
    padding: 0.5rem;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#hero-heading {
    text-align: center;
    font-family: monospace;
    color: #296EB4;
    font-size: 2rem;
    border: 0.1px solid black;
    background-color: #FDB833;


}

#intro-heading {
    font-family: monospace;
    text-align: center;
    font-family: monospace;
    color: #296EB4;

}

.sub-headings {
    font-family: monospace;
}

table,
tr,
th,
td {
    border: 0.001px;
    font-family: monospace;
    font-weight: 800;
    padding: 10px 8px;
    min-width: 100%;
    color: #ffffff;
    opacity: 0.9;
    align-content: center;
    width: 20%;
}

th {
    background-color: #296EB4;
    font-family: monospace;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
}

tr {
    background-color: #B1740F;
    text-align: center;
}


.code, td {
    font-family: monospace;
    font-weight: 500;
    font-size: 1rem;
}


h2,
h3,
p {
    font-family: monospace;
    font-size: 2rem;
    color: #296EB4;
    margin: 2rem;
    font-weight: 500;
}